.judgeScorepanel li {display: inline-block;
    font-size: 173px;
    padding: 0 6%;
    color: #000c9c;
    font-family: 'fenwickoutline';
    text-shadow: 0px 0px 0px #190eb1, 0px 0px 5px #4c43c7}
.judgeScorewrap { text-align: center; padding: 100px 0}