/**Header CSS**/
.header {
    display: flex; 
    padding: 30px 0; background:#c7222a}
.header > h1 {
    font-size: 20px;
    color: #000}
.logo {width: 198px; height: 45px;    
    color: #000; background: url(images/ABG_Birla-3D-Logo_Mobile.png) no-repeat 0; display: inline-block }
.menu { display: flex; float: right; margin-top: 15px}
.menu li {margin: 0 10px; color: #ffff; display: inline-flex; text-decoration: none}
.menu li a { color: #fff}


